# Updated by XLab Platform at 2026-01-02T13:30:41.163
# App Configuration File
# 应用配置文件

allowContentAccess=false
allowFileAccess=false
allowFileAccessFromFileURLs=false
allowUniversalAccessFromFileURLs=false
androidApplicationId=com.xlab.ketenglishtest
androidMinSdkVersion=21
androidPermissions=INTERNET,ACCESS_NETWORK_STATE
androidTargetSdkVersion=34
appCategoryId=UTILITIES
appCopyright=2026 IdeaLab Ethan
appDescription=专为儿童设计的KET单词学习应用，让英语单词练习变得轻松有趣！
appDisplayName=KET英语练习
appDisplayName_en_US=KetEnglishTest
appIcon=https://www.idlab.top/page/xlab/KetEnglishTest/icon_1767331841163.png
appId=com.xlab.ketenglishtest
appKeywords=KET，儿童英语，英语单词，KET单词，单词填空，英语判断题，英语学习，KET备考
appMarketingUrl=https://www.idlab.top
appName=KetEnglishTest
appPricingTier=0
appPrivacyPolicyUrl=https://www.idlab.top/privacy-policy.html
appPromotionalText=儿童KET单词轻松学，闯关答题趣味多！\n\n 精选KET核心单词题型，实时解析专属评级，让孩子爱上英语学习，稳步提升应试能力。
appReleaseNotes=第一版，更多功能正在开发中，敬请期待！
appSupportUrl=https://www.idlab.top
appVersion=1.0.1
buildAndroid=true
buildIOS=true
clearCacheOnStart=false
connectionTimeout=60000
enableAppStoreConnect=true
enableBuiltInZoomControls=false
enableCache=true
enableDOMStorage=true
enableDebugging=true
enableHttps=true
enableJavaScript=true
enableScreenshotGeneration=true
enableScreenshotUpload=true
enableUpdateMetadata=true
enableZoom=false
errorButtonText=重试
errorPageMessage=页面加载失败，请检查网络连接
errorPageTitle=加载失败
iosCapabilities=
iosDeploymentTarget=13.0
iosExportMethod=app-store
iosLocales=zh-Hans,en-US
iosPrimaryLocale=zh-Hans
iosSku=com.xlab.ketenglishtest
iosTeamId=G3NJ44L7QL
isWebLocal=true
loadUrl=https://www.idlab.top/page/xlab/KetEnglishTest/index.html
loadingBackgroundColor=#4A90E2
loadingDuration=1000
loadingImage=https://www.idlab.top/page/xlab/KetEnglishTest/loading_1767331841163.png
loadingText=加载中...
loadingTextColor=#FFFFFF
mixedContentMode=false
needDebug=true
reviewContactEmail=452688966@qq.com
reviewContactFirstName=王
reviewContactLastName=小童
reviewContactPhone=+86 17722690068
reviewNotes=专为儿童设计的KET单词学习应用，让英语单词练习变得轻松有趣！
screenshotAddText=false
screenshotDeviceTypes=iPhone_6.7,iPad_12.9_3rd
showErrorPage=true
showLoadingProgress=true
snapshotScreen=https://www.idlab.top/page/xlab/KetEnglishTest/screenshot1_1767331841163.png
snapshotScreen2=https://www.idlab.top/page/xlab/KetEnglishTest/screenshot2_1767331841163.png
snapshotScreen3=https://www.idlab.top/page/xlab/KetEnglishTest/screenshot3_1767331841163.png
splashScreen=https://www.idlab.top/page/xlab/KetEnglishTest/loading_1767331841163.png
supportMultipleWindows=false
trustAllCertificates=false
userAgentString=
