# Updated by XLab Platform at 2026-01-18T19:26:47.098
# App Configuration File
# 应用配置文件

allowContentAccess=false
allowFileAccess=false
allowFileAccessFromFileURLs=false
allowUniversalAccessFromFileURLs=false
androidApplicationId=com.xlab.homework
androidMinSdkVersion=21
androidPermissions=INTERNET,ACCESS_NETWORK_STATE
androidTargetSdkVersion=34
appCategoryId=UTILITIES
appCopyright=2026 IdeaLab ziming
appDescription=作业登记通知神器，支持文本、图片双格式上传，一键将作业内容推送到个人微信公众号，爸妈再也不用每天群里问别人了。\n\n
appDisplayName=作业通知
appDisplayName_en_US=homework
appIcon=https://www.idlab.top/page/xlab/homework/icon_1768735051268.png
appId=com.xlab.homework
appKeywords=作业登记、作业上传、作业同步、公众号作业推送
appMarketingUrl=https://www.idlab.top/appRelease.html
appName=homework
appPricingTier=0
appPrivacyPolicyUrl=https://www.idlab.top/privacy-policy.html
appPromotionalText=作业登记后，通知到微信公众作业记录神器、学生作业管理、图片作业提交、文本作业上传、家校作业沟通
appSupportUrl=https://www.idlab.top/support.html
appVersion=1.0.1
buildAndroid=true
buildIOS=true
clearCacheOnStart=false
connectionTimeout=60000
enableAppStoreConnect=true
enableBuiltInZoomControls=false
enableCache=true
enableDOMStorage=true
enableDebugging=true
enableHttps=true
enableJavaScript=true
enableScreenshotGeneration=true
enableScreenshotUpload=true
enableUpdateMetadata=true
enableZoom=false
errorButtonText=重试
errorPageMessage=页面加载失败，请检查网络连接
errorPageTitle=加载失败
iosCapabilities=
iosDeploymentTarget=13.0
iosExportMethod=app-store
iosLocales=zh-Hans,en-US
iosPrimaryLocale=zh-Hans
iosSku=com.xlab.homework
iosTeamId=G3NJ44L7QL
isWebLocal=false
loadUrl=https://www.idlab.top/page/xlab/homework/index.html
loadingBackgroundColor=#4A90E2
loadingDuration=1000
loadingImage=https://www.idlab.top/page/xlab/homework/loading_1768735051269.png
loadingText=加载中...
loadingTextColor=#FFFFFF
mixedContentMode=false
needDebug=true
reviewContactEmail=452688966@qq.com
reviewContactFirstName=王
reviewContactLastName=小童
reviewContactPhone=+86 17722690068
reviewNotes=作业登记通知神器，支持文本、图片双格式上传，一键将作业内容推送到个人微信公众号，爸妈再也不用每天群里问别人了。\n\n
screenshotAddText=false
screenshotDeviceTypes=iPhone_6.7,iPad_12.9_3rd
showErrorPage=true
showLoadingProgress=true
snapshotScreen=https://www.idlab.top/page/xlab/homework/screenshot1_1768734552890.png
splashScreen=https://www.idlab.top/page/xlab/homework/loading_1768735051269.png
supportMultipleWindows=false
trustAllCertificates=false
userAgentString=
