# Updated by XLab Platform at 2026-01-13T22:30:55.463
# App Configuration File
# 应用配置文件

allowContentAccess=false
allowFileAccess=false
allowFileAccessFromFileURLs=false
allowUniversalAccessFromFileURLs=false
androidApplicationId=com.xlab.mark
androidMinSdkVersion=21
androidPermissions=INTERNET,ACCESS_NETWORK_STATE
androidTargetSdkVersion=34
appCategoryId=LIFESTYLE
appCopyright=2026 IdeaLab steven
appDescription=MARK帮你记录每天心情\n\n\n\n\n\n\n\n通过它，你能：\n\n\n\n\n\n\n\n轻松每天情绪打卡\n\n\n\n\n\n\n\n每月生成专属情绪日历\n\n\n\n\n\n\n\n分析情绪状态、分布、趋势，了解自己
appDisplayName=打了吗
appDisplayName_en_US=MARK
appIcon=https://www.idlab.top/page/xlab/MARK/icon_1768314655462.jpg
appId=com.xlab.mark
appKeywords=心情、日历、情绪、状态、减压、Mark、情感、修复、发现、自己、打了吗
appMarketingUrl=https://www.idlab.top
appName=MARK
appPricingTier=0
appPrivacyPolicyUrl=https://www.idlab.top/privacy-policy.html
appPromotionalText=打了吗--让你轻松每天Mark心情
appSupportUrl=https://www.idlab.top
appVersion=1.0.1
buildAndroid=true
buildIOS=true
clearCacheOnStart=false
connectionTimeout=60000
enableAppStoreConnect=true
enableBuiltInZoomControls=false
enableCache=true
enableDOMStorage=true
enableDebugging=true
enableHttps=true
enableJavaScript=true
enableScreenshotGeneration=true
enableScreenshotUpload=true
enableUpdateMetadata=true
enableZoom=false
errorButtonText=重试
errorPageMessage=页面加载失败，请检查网络连接
errorPageTitle=加载失败
iosCapabilities=
iosDeploymentTarget=13.0
iosExportMethod=app-store
iosLocales=zh-Hans,en-US
iosPrimaryLocale=zh-Hans
iosSku=com.xlab.mark
iosTeamId=G3NJ44L7QL
isWebLocal=true
loadUrl=https://www.idlab.top/page/xlab/MARK/index.html
loadingBackgroundColor=#4A90E2
loadingDuration=1000
loadingImage=https://www.idlab.top/page/xlab/MARK/loading_1768314655463.jpg
loadingText=加载中...
loadingTextColor=#FFFFFF
mixedContentMode=false
needDebug=true
reviewContactEmail=452688966@qq.com
reviewContactFirstName=王
reviewContactLastName=小童
reviewContactPhone=+86 17722690068
reviewNotes=MARK帮你记录每天心情\n\n\n\n\n\n\n\n通过它，你能：\n\n\n\n\n\n\n\n轻松每天情绪打卡\n\n\n\n\n\n\n\n每月生成专属情绪日历\n\n\n\n\n\n\n\n分析情绪状态、分布、趋势，了解自己
screenshotAddText=false
screenshotDeviceTypes=iPhone_6.7,iPad_12.9_3rd
showErrorPage=true
showLoadingProgress=true
snapshotScreen=https://www.idlab.top/page/xlab/MARK/screenshot1_1768314655463.jpg
snapshotScreen2=https://www.idlab.top/page/xlab/MARK/screenshot2_1768314655463.jpg
snapshotScreen3=https://www.idlab.top/page/xlab/MARK/screenshot3_1768314655463.jpg
splashScreen=https://www.idlab.top/page/xlab/MARK/loading_1768314655463.jpg
supportMultipleWindows=false
trustAllCertificates=false
userAgentString=
